<div class="container">
  <br>
  <div class="dashboard">
    <% pull_requests_per_repo.each do |repo_name, pull_requests_count| %>
    <table>
    <thead>
      <tr>
        <td>
          <% if pull_requests_count == 1 %>
          <p class="db-pullrequest db-pr-low"><%= pull_requests_count %></p>
        </td>
        <td>
          <% elsif pull_requests_count <= 3 %>
          <p class="db-pullrequest db-pr-medium"><%= pull_requests_count %></p>
        </td>
        <td>
          <% elsif pull_requests_count <= 5 %>
          <p class="db-pullrequest db-pr-high"><%= pull_requests_count %></p>
        </td>
        <td>
          <% else %>
          <p class="db-pullrequest db-pr-critical"><%= pull_requests_count %></p>
        </td>
          <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
        <p class="db-repo"><%= repo_name %></p>
      </td>
      </tr>
    </tbody>
    <% end %>
    </table>
  </div>
</div>
  <!-- end of dashboard -->
