<div class="dashboard grey">
  <% repos.each do |repo| %>
  <div class="dashboard-repo">
    <div class="repo-name"><%= repo.name %></div>
    <div class="pr-count"><%= repo.pull_requests_count %></div> Pull request(s)
    <div class="pull-request-separator"></div>
    <% repo.pull_requests.each do |pull_request| %>
      <div class="pull-request seniority-<%= pull_request.seniority %>">
        <img src="<%= pull_request.author_thumbnail %>" class="pull-request-avatar"/>
        <%= pull_request.shorten_title %>
        <span class="pull-request-age"><%= pull_request.age %></span>
      </div>
    <% end %>
  </div>
  <% end %>
  </table>
</div>
<!-- end of dashboard -->
