<div class="container">
  <div class="columns">
    <div class="column">
      <h2>Repositories</h2>
      <p class="lead">Please select one or more repositories to show the Pull Requests (or the statistics)</p>
      <% if repos.nil? || repos.empty? %>
        <div class="blankslate">
          <h3>Nothing to show here.</h3>
          <p>We didn't find any repository on your profile</p>
          <p>Please head to <a href="https://github.com" title="Github website">Github</a> to create a new repository</p>
        </div><!-- end of blank state -->
      <% end %>
      <div class="repo-filters">
        <ul class="repo-filter__list">
          <% visibility = params[:visibility] || 'all' %>
          <li class="repo-filter__item">
            <a href="/repositories?visibility=all" class="link-blue <%= 'selected' if visibility == 'all' %>">
              <span class="count"></span>
              All
            </a>
          </li>
          <li class="repo-filter__item">
            <a href="/repositories?visibility=public" class="link-blue <%= 'selected' if visibility == 'public' %>">
              <span class="count"></span>
              Public
            </a>
          </li>
          <li class="repo-filter__item">
            <a href="/repositories?visibility=private" class="link-blue <%= 'selected' if visibility == 'private' %>">
              <span class="count"></span>
              Private
            </a>
          </li>
        </ul><!-- end of filters list -->
      </div><!-- end of filters -->
      <div class="form-checkbox">
        <label>
          <input type="checkbox" name="select_all" onClick="javascript:selectAll();">
          <em class="select filter__selectall">Select all repositories</em>
        </label>
      </div>
      <form id="repoForm" method="post" class="repo-list">
        <input type="text" class="large-input search" placeholder="Search repository name..." onKeyPress="if (event.which == 13) return false;">
        <% repos.each do |repo| %>
        <% next unless repo %>
        <div class="form-checkbox">
          <label class="js-repo-item">
            <input type="checkbox" name="repos[]" value="<%= repo[:full_name] %>" class="isRepoCheckBox repo-list__item" 
                  data-private="<%= repo[:private] %>" <%= selected_repos.include?(repo[:full_name]) ? 'checked' : '' %> >
            <%= repo[:full_name] %>
            <% if repo[:private] %>
              <span class="label label-private">Private</span>
            <% end %>
          </label>
        </div><!--end of checkbox -->
        <% end %>
        <% if !repos.nil? && !repos.empty? %>
        <div class="repo-actions">
          <button type="button" class="btn btn-success" onClick="javascript:storeSelectionAndRedirect('/pulls')">Show Pull Requests</button>
          <button type="button" class="btn btn-success" onClick="javascript:storeSelectionAndRedirect('/stats')">Show Statistics </button>
          <div id="uncheckedMessage" style="display:none" class="repo-error">Please select at least one repository</div>
        </div><!-- end of actions -->
        <% end %>
      </form><!-- end of form -->
    </div><!-- end of column -->
  </div><!-- end of columns -->
</div><!-- end of container -->
