<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/primer.min.css">
    <% if ENV['APP_ENV'] == 'production' %>
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
    <% else %>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <% end %>
  </head>
  <body>
    <div class="topbar">
      <div class="container clearfix">
        <a href="#" class="logo">Tentacles</a>
        <div class="menu">
           <a href="/pulls">Pull Requests</a>
           <a href="/stats">Stats</a>
           <a href="/dashboard">Dashboard</a>
        </div>
        <div class="user">
          <p class="user-card">
            <img src="<%= user.avatar_url %>" class="avatar avatar-small user-avatar" alt="<%= user.name %>" width="40" height="40">
            <span class="user-fullname text-white"><%= user.name %></span><br>
            <a href="<%= user.html_url %>" class="user-login link-gray-dark"><small>@<%= user.login %></small></a>
          </p><!-- end of user card -->
        </div><!-- end of user -->
      </div><!-- end of container -->
    </div><!-- end of topbar -->
    <%= yield %>
    <script src="js/bliss.min.js"></script>
    <script src="js/moment.min.js"></script>
    <% if ENV['APP_ENV'] == 'production' %>
    <script src="js/scripts.min.js"></script>
    <% else %>
    <script src="js/scripts.js"></script>
    <% end %>
  </body>
</html>
