<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/primer.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="topbar">
      <div class="container clearfix">
        <a href="#" class="logo">Tentacles</a>
        <div class="user">
          <p class="user-card">
            <img src="<%= user.avatar_url %>" class="avatar avatar-small user-avatar" alt="<%= user.name %>" width="32" height="32">
            <a href="<%= user.html_url %>" class="user-fullname link-gray-dark"><%= user.name %></a><br>
            <small class="user-login text-gray">@<%= user.login %></small>
          </p><!-- end of user card -->
        </div><!-- end of user -->
      </div><!-- end of container -->
    </div><!-- end of topbar -->
    <div class="container">
      <div class="columns">
        <div class="column">
          <h2>Repositories</h2>
          <p class="lead">Please select one or more repository to show the Pull Requests.</p>
          <% if repos.nil? || repos.empty? %>
            <div class="blankslate">
              <h3>Nothing to show here.</h3>
              <p>We didn't find any repository on your profile.</p>
              <p>Please head to <a href="https://github.com" title="Github website">Github</a> to create a new Repository.</p>
            </div><!-- end of blank state -->
          <% end %>
          <div class="repo-filters">
            <ul class="repo-filter__list">
              <% visibility = params[:visibility] || 'all' %>
              <li class="repo-filter__item">
                <a href="/repositories?visibility=all" class="<%= 'selected' if visibility == 'all' %>">
                  <span class="count"></span>
                  All
                </a>
              </li>
              <li class="repo-filter__item">
                <a href="/repositories?visibility=public" class="<%= 'selected' if visibility == 'public' %>">
                  <span class="count"></span>
                  Public
                </a>
              </li>
              <li class="repo-filter__item">
                <a href="/repositories?visibility=private" class="<%= 'selected' if visibility == 'private' %>">
                  <span class="count"></span>
                  Private
                </a>
              </li>
            </ul><!-- end of filters list -->
          </div><!-- end of filters -->
          <div class="form-checkbox">
            <label>
              <input type="checkbox" name="select_all" onClick="javascript:selectAll();">
              <em class="highlight filter__selectall">Select all repositories</em>
            </label>
          </div>
          <form action="/pulls" method="post" class="repo-list">
            <% repos.each do |repo| %>
            <% next if repo.nil? %>
            <div class="form-checkbox">
              <label>
                <input type="checkbox" name="repos[]" value="<%= repo[:full_name] %>" class="js-repo-item repo-list__item" data-private="<%= repo[:private] %>">
                <%= repo[:full_name] %>
              </label>
              <% if repo[:private] %>
                <span class="label label-private">Private</span>
              <% end %>
            </div><!--end of checkbox -->
            <% end %>
            <% if !repos.nil? && !repos.empty? %>
            <div class="repo-actions">
              <button type="submit" class="btn btn-primary">Show pull requests</button>
            </div><!-- end of actions -->
            <% end %>
          </form><!-- end of form -->
        </div><!-- end of column -->
      </div><!-- end of columns -->
    </div><!-- end of container -->
    <script src="js/bliss.min.js"></script>
    <script>
      // Document is ready
      $.ready().then(function() {
        // Check/Uncheck all the repositories
        selectAll = function() {
          $$(".js-repo-item").map(function(element) {
            if (!element.classList.contains("hide")) {
              element.checked = !element.checked;
            }
            return element;
          });
          // Change the label text with the checkbox value
          var labelNode = $(".filter__selectall");
          var selectAllInput = $('[name="select_all"]');
          if(selectAllInput.checked) {
            labelNode.innerText = "Deselect all repositories"
          } else {
            labelNode.innerText = "Select all repositories"
          }
        };
      });
    </script>
  </body>
</html>

